@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.content-2-1 .btn-outline {
  border: 1px solid #979797;
  color: #979797;
  transition: 0.2s;
}
.content-2-1 .btn-outline:hover {
  border: 1px solid #ff7c57;
  color: #ff7c57;
  transition: 0.2s;
}
.content-2-1 .btn-fill {
  background-color: #ff7c57;
  border: 1px solid #ff7c57;
  transition: 0.2s;
}
.content-2-1 .card-header {
  background-color: #fff7f4;
  border: 1px solid #ff7c57;
}
.content-2-1 .text-medium-black {
  color: #121212;
}
.content-2-1 .text-gray {
  color: #565656;
}
.content-2-1 .btn-outline {
  border: 1px solid #979797;
  color: #979797;
  transition: 0.2s;
}
.content-2-1 .btn-outline:hover {
  border: 1px solid #ff7c57;
  color: #ff7c57;
  transition: 0.2s;
}
.content-2-1 .btn-fill {
  background-color: #ff7c57;
  border: 1px solid #ff7c57;
  transition: 0.2s;
}
.content-2-1 .card-header {
  background-color: #fff7f4;
  border: 1px solid #ff7c57;
}
.content-2-1 .text-medium-black {
  color: #121212;
}
.content-2-1 .text-gray {
  color: #565656;
}
.footer-2-3 .list-footer li a {
  color: #707092;
}
.footer-2-3 .list-footer li a:hover {
  color: #ffffff;
}
.footer-2-3 .border-color {
  color: #707092;
}
.footer-2-3 .footer-link:hover {
  color: #ffffff;
}
.footer-2-3 .social-media-c:hover circle,
.footer-2-3 .social-media-p:hover path {
  fill: #ffffff;
}
