@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.opensans {
  font-family: 'Open Sans', Arial, sans-serif;
}
.poppins{
  font-family: Poppins, Arial, Helvetica, sans-serif;
}
.quicksand {
  font-family: Quicksand, Arial, sans-serif;
}
/* {
  box-sizing: border-box;
}*/
/*::-webkit-input-placeholder { 
	color: .711 
}*/
.avatar {
	height: 25px;
}
.messages {
	background-color: rgb(238, 250, 253);
	display: flex;
	flex-direction: column;
  height: 310px;
	max-height: 310px;
	overflow: scroll;
}
#user{
	margin-right: auto;
}
#bot {
	margin-left: auto;
	max-width:90%;
}
/* Mobile */
@media only screen and (max-width: 980px) {
}