@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.opensans {
  font-family: 'Open Sans', Arial, sans-serif;
}
.poppins{
  font-family: Poppins, Arial, Helvetica, sans-serif !important;
}
.quicksand {
  font-family: Quicksand, Arial, sans-serif;
}
/* {
  box-sizing: border-box;
}*/
/*::-webkit-input-placeholder { 
	color: .711 
}*/
.avatar {
	height: 25px;
}
.bg-image{
	position:relative;
	overflow:hidden;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center
}
.hover-zoom img,
.hover-zoom video{
	transition:all .3s linear
}
.hover-zoom:hover img,
.hover-zoom:hover video{
	transform:scale(1.1)
}
.messages {
	background-image:url('./img/Rain.jpg');
	display: flex;
	flex-direction: column;
  	height: 310px;
	max-height: 310px;
	overflow: scroll;
}
.shadow-hover:hover {
	box-shadow: 0 0 20px 0 #d6d5d5;
	transition: box-shadow 0.3s ease-in-out;
}
.shadow-hover-primary:hover {
	box-shadow: 0 0 20px 0 #428bca;
	transition: box-shadow 0.3s ease-in-out;
}
#user{
	margin-right: auto;
}
#bot {
	margin-left: auto;
	max-width:90%;
}
/* Mobile */
@media only screen and (max-width: 980px) {
}